html {
  font-family: 'Open Sans', sans-serif;
}

figcaption {
  color:#E3212F;
}


h1 {
  color:#E3212F;
  text-transform: uppercase;
}

/*colours*/


/*iphones*/

/*bracelet*/

/*runner*/

/*numbers*/

/*paragraphs*/

.numbers {
  width:80px;
}

@media only screen and (min-width: 38em) {

}
